DB_USER="metervalues"
DB_PASSWORD="Putarealylongpasswordhereoruseashortone!"
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db01.zzeroo.lan:5432/metervalues_dev
BIND_ADDRESS=127.0.0.1:8000
RUST_LOG=metervalues=debug,tower_http=debug
