DB_USER="metervalues"
DB_PASSWORD="Putarealylongpasswordhereoruseashortone!"
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db01.zzeroo.lan:5432/metervalues
BIND_ADDRESS=0.0.0.0:8000
RUST_LOG=metervalues=info,tower_http=info
